DB_PASSWORD=
DB_USER=
DB_NAME=
DB_HOST=
DB_PORT=
DB_SSLMODE=

JWT_SECRET=
ACCESS_TOKEN_EXPIRE_MINUTES=

ADMIN_EMAIL=
ADMIN_USERNAME=
ADMIN_PASSWORD=

STORAGE_BUCKET=
STORAGE_REGION=
STORAGE_ENDPOINT_URL=
STORAGE_PUBLIC_BASE_URL=
STORAGE_ACCESS_KEY_ID=
STORAGE_SECRET_ACCESS_KEY=

NEXT_PUBLIC_API_URL=
COOKIE_DOMAIN=